@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #313d48;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #52749b;
      border: 3px solid #4b5d6e;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #313d48;
    }
  }